<p id="notice"><%= notice %></p>


<p>
  <strong>Description:</strong>
  <%= @treatment.description %>
</p>

<p>
  <strong>Necessity:</strong>
  <%= @treatment.necessity %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
