<header class="d-lg-flex align-items-lg-center position-relative  min-vh-100">
  <div class="container">
    <%= link_to "Dashboard", patients_path, class: "btn btn-sm btn-success dashbord-link"%>
    <div class="row">
      <div class="col-md-12 ">
        <div class="card mb-4" id="print-page">
          <header class="card-header">
            <h2 class="h2 card-header-title">Emergency Transfer Summary (Form 34L-D)
              </h2>
          </header>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">


                  <tr><td colspan="4"><b>Transferring Facility</b></td></tr>
                  <tr>
                    <td colspan="1">Name<br /><br />
                      <span style="color: #0000ff"><%= @facility.name %></span>
                    </td>
                    <td colspan="3">&nbsp;</td>
                  </tr>

                  <tr>
                    <td colspan="4"><b>Patient Information</b></td>
                  </tr>

                  <tr>
                    <td>First Name<br /><br />
                      <span style="color: #0000ff"><%= @patient.first_name %></span>
                    </td>

                    <td>Middle Name<br /><br />
                      <span style="color: #0000ff"><%= @patient.middle_name %></span>
                    </td>

                    <td>Last Name<br /><br />
                      <span style="color: #0000ff"><%= @patient.last_name %></span>
                    </td>

                    <td>Medical Record (MR)<br /><br />
                      <span style="color: #0000ff"><%= @patient.mr %></span>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="4"><b>Summary</b>
                      <br />
                      <br />
                      This <span style="color: #0000ff"><%= @patient.age %></span>
                      years old <span style="color: #0000ff"><%= @patient.gender %></span>
                      was admitted to <span style="color: #0000ff"><%= @facility.name %></span>
                      on <span style="color: #0000ff"><%= @patient.admission.moment.strftime('%Y-%m-%d') %></span>
                      at <span style="color: #0000ff"><%= @patient.admission.moment.strftime('%H:%M') %></span>
                      due to <span style="color: #0000ff"><%= @patient.admission.diagnoses.pluck(:code).to_sentence %></span>.

                      The observed symptoms on admission were
                      <span style="color: #0000ff"><%= @patient.admission.symptoms.pluck(:description).to_sentence %></span>.

                      <span style="color: #0000ff"><%= @patient.admission.observations.pluck(:description).to_sentence %></span>.

                      Upon asking about known allergies, the patient disclosed
                      <span style="color: #0000ff"><%= @patient.allergies.pluck(:description).to_sentence %></span>.

                      Upon asking about chronic conditions, the patient disclosed
                      <span style="color: #0000ff"><%= @patient.chronic_conditions.pluck(:description).to_sentence %></span>.

                      The patient was administered with
                      <span style="color: #0000ff"><%= medication_orders(@patient) %></span>.

                      The staff performed
                      <span style="color: #0000ff"><%= @patient.diagnoses.pluck(:description).to_sentence %></span>.

                      Our team proceeded to
                      <span style="color: #0000ff"><%= @patient.treatments.pluck(:description).to_sentence %></span>.
                      </span>
                    </td>
                  </tr>
                </table>
            </div>
          </div>
        </div>
        <div class="w-100 text-center">
          <button onclick="myFunction()" class="btn btn-success">Print</button>
        </div>
      </div>
    </div>
  </div>
</header>




<style type="text/css">
  @media print
  {
    body * { visibility: hidden; }
    #print-page * { visibility: visible; }
    #print-page { position: absolute; top: 40px; left: 30px; }
  }
</style>

<script>
    function myFunction() {
        window.print();
    }
</script>