

<%= form_with(model: diagnostic_procedure, local: true) do |form| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <header class="card-header">
          <h2 class="h3 card-header-title">Diagnostic Procedure
            <%= link_to 'Back', diagnostic_procedures_path,class: "float-right" %>
          </h2>
        </header>

        <div class="card-body">
          <% if diagnostic_procedure.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(diagnostic_procedure.errors.count, "error") %> prohibited this diagnostic_procedure from being saved:</h2>
                <ul>
                  <% diagnostic_procedure.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>


          <div class="form-group mb-4">
            <%= form.label :description %>
            <%= form.text_area :description, id: :diagnostic_procedure_description, class:"form-control"  %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :moment %>
            <%= form.date_field :moment, id: :diagnostic_procedure_moment, class:"form-control"  %>
          </div>
          <div class="actions text-center w-100">
            <%= form.submit class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
